<template>
    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="container-fluid mt--7">
                        <div class="row">
                            <div class="col">
                                <div class="card shadow">
                                    <div class="card-header border-0">
                                        <h3 class="mb-0">Active Chat</h3>
                                    </div>
                                    <div class="col-sm-12">
                                        <ul class="list-group">
                                            <li class="list-group-item active">Cras justo odio</li>
                                            <li class="list-group-item">Dapibus ac facilisis in</li>
                                            <li class="list-group-item">Morbi leo risus</li>
                                            <li class="list-group-item">Porta ac consectetur ac</li>
                                            <li class="list-group-item">Vestibulum at eros</li>
                                        </ul>
                                    </div>
                                    <div class="mt-5 1"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="container-fluid mt--7">
                        <div class="row">
                            <div class="col">
                                <div class="card shadow">
                                    <div class="card-header border-0">
                                        <h3 class="mb-0">Chat</h3>
                                    </div>
                                    <div class="col-sm-12">
                                        <textarea rows="10" class="form-control">{{messages.join('\n')}}</textarea>
                                        <input type="text" class="form-control" v-model="textMessage"
                                               @keyup.enter="sendMessage">
                                    </div>
                                    <div class="mt-5"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</template>

<script>
    export default {
        data() {
            return {
                messages: [],
                textMessage: '',
                chat_id: '',
            }
        },
        mounted() {
            window.Echo.channel('chat-room.1')
                .listen('ChatMessageWasReceived', (e) => {
                    console.log(e);
                    this.messages.push(e.message);
                    this.chat_id = e.chat_id;
                });
        },
        methods: {
            sendMessage() {
                axios.post('/admin/message_send', {message: this.textMessage, chat_id: this.chat_id});
                this.messages.push(this.textMessage);
                this.textMessage = '';
            }
        }
    }
</script>
