<template>
    <li class="nav-item dropdown">
        <a class="nav-link " href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
           aria-expanded="false">
            <div class="media align-items-center position-relative">
                <span class="avatar avatar-sm rounded-circle bg-white align-items-center d-flex ">
                            <i class="ni ni-bell-55 text-orange"></i>
                            <span class="position-absolute top--1 right--1 text-white bg-danger rounded-circle text-center  d-flex pl-1 h-50 w-50">
                                <small><b>{{messages}}</b></small>
                            </span>
                </span>
            </div>
        </a>
        <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
            <div v-for="item in notifications" class=" dropdown-header noti-title border-bottom text-capitalize">
                <h5 class="text-capitalize">
                    {{ item }}
                </h5>
            </div>
        </div>
    </li>
</template>


<script>
    export default {
        data() {
            return {
                messages: 0,
                notifications: [],
            }
        },
        mounted() {
            window.Echo.channel('chat-room.1')
                .listen('ChatMessageWasReceived', (e) => {
                    this.notifications.push('You have a new message.');
                    this.messages = this.messages + 1;
                });
        },
    }
</script>